# Starter pipelinetest123
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest
  
variables:
  - name: System.Debug
    value: true
    
stages:
- stage: build
  jobs:
    - job: run_build
      steps:
      - task: Maven@4
        inputs:
          mavenPomFile: 'pom.xml'
          goals: 'clean install1'
          publishJUnitResults: true
          testResultsFiles: '**/surefire-reports/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          mavenVersionOption: 'Default'
          mavenAuthenticateFeed: false
          effectivePomSkip: false
          sonarQubeRunAnalysis: false
      
      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: 'ls -R $(Pipeline.Workspace)'

      - task: CopyFiles@2
        inputs:
          sourceFolder: '/home/vsts/work/1/s/'
          targetFolder: '/home/vsts/work/1/a/'

      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: 'ls -R $(Pipeline.Workspace)'

      - task: xldPackage@7
        inputs:
          manifestPath: 'deployit-manifest.xml'

  
          